header {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
}

nav {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link h1 {
  color: #fff;
  font-size: 30px;

  body {
    font-family: sans-serif;
  }

  header {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: #1c1e53;
  }

  .nav-div {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .nav-list__item a {
    color: #bbbbcb;
  }
  .nav-list__item a:hover {
    color: #fff;
    transition: all 0.1s ease-in-out;
  }

  .header-btn {
    color: white;
    background-color: transparent;
    border-color: #f4f6fc;
    border-radius: 41px;
    padding: 16px 41px;
  }

  .header-btn {
    display: flex;
    justify-content: space-between;
  }

  // end of navbar

  .hero-section {
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    background-color: #1c1e53;
    padding-top: 100px;
    position: relative;
  }

  .fild-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .hero-titel__h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: white;
    width: 500px;
  }

  .heroText {
    width: 500px;
    color: #ffffff;
    opacity: 70%;
    margin-top: 10%;
  }

  .hero-btns {
    position: absolute;
    top: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .btn1 {
      padding: 16px 56px;
      background-color: #fcd980;
      color: #000;
      border: 0;
      border-radius: 41px;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .btn2 {
        color: white;
        background-color: transparent;
        border: none;
      }
    }
  }
}
